@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    margin: auto;
    max-width: 700px;
}
header {
    background-color: #3C674E;
    color: whitesmoke;
    border-radius: 5px;
    padding: 5px;
}
h1 {
    color: whitesmoke;
    font-family: "Crimson Text", "Tahoma", serif;
    padding: 10px;
    font-weight: normal;
    font-size: x-large;
}
h2 {
    text-decoration: underline;
    text-decoration: 2px;
}
main {
    font-family: "Montserrat", "Tahoma", sans-serif;
    margin-left: 10px;
}
a:link main {
    color: 7A0035;
}
footer {
    background-color: #3C674E;
    color: whitesmoke;
    font-family: "Montserrat", "Tahoma", sans-serif;
    text-align: center;
    border-radius: 5px;
    padding: 3px;
}
a:link footer {
    color: whitesmoke;
    text-decoration: none;
}
.photoofme {
    float: right;
    box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
    padding: 1em;
    width: 20%;
}
.updated {
    margin-top: 0;
    font-size: x-small;
}