@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    margin: auto;
}
header {
    max-width: 650px;
    background-color: #3C674E;
    color: whitesmoke;
    border-radius: 5px;
    font-family: "Montserrat", "Tahoma", serif;
    padding: 10px;
}
h2 {
    text-decoration-line: underline;
    text-decoration: 2px;
}
main {
    font-family: "Crimson Text", "Tahoma", sans-serif;
    max-width: 600px;
}
footer {
    max-width: 650px;
    background-color: #3C674E;
    color: whitesmoke;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}
.photoofme {
    float: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: -5em;
}